<%= render('layouts/errors', :object => @sighting) %>

<%= form_for [@animal, @sighting] do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :date %>
  <%= f.date_field :date %>
  <%= f.label :latitude %>
  <%= f.text_field :latitude %>
  <%= f.label :longitude %>
  <%= f.text_field :longitude %>
  <p><%= f.submit %></p>
<% end %>
