<h1><%= @animal.name %></h1>

<% if @animal.sightings.any? %>
  <h4>Latest <%= @animal.name %> Sightings:</h4>
  <ul>
    <% @animal.sightings.each do |sighting| %>
      <li>
        <%= sighting.date %> |
        <%= sighting.description %> |
        <%= sighting.latitude %>, <%= sighting.longitude %>
        <%= link_to "Edit", edit_animal_sighting_path(@animal, sighting) %> |
        <%= link_to "Delete", animal_sighting_path(@animal, sighting),
                                :data => {:confirm => "Are you sure?",
                                              :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There have been no <%= @animal.name %> sightings yet.</p>
<% end %>
<p><%= link_to "Add a Sighting", new_animal_sighting_path(@animal) %></p>

<p><%= link_to "Edit", edit_animal_path(@animal) %></p>
<p><%= link_to "Delete", animal_path(@animal),
                         :data => {:confirm => "Are you sure?",
                                  :method => "delete"} %></p>
<p><%= link_to "Return to Animals", animals_path %></p>
